name: workflow-hea

channels:

  - conda-forge

  # Probably not necessary, but good to have for MACE.
  # - nvidia
  # - pytorch

dependencies:

  # MACE and LAMMPS won't work with python<3.10.
  - python==3.10

  # Jupyer notebook and typical python tools:
  - notebook=6.5.5
  - matplotlib
  - numpy

  # Simulators and orchestrator:
  - lammps
  - ase
  
  # Visualization and analysis of MD trajectories:
  - nglview
  - mdanalysis

  # Pytorch stuff:
  # - nvidia::cudatoolkit=11.8
  # - pytorch
  # - torchvision
  # - torchaudio

  # Other potentially useful stuff:
  # - mdtraj
  # - ipympl
  # - jupyter
  # - ipykernel
  # - ipywidgets
  # - requests
  # - pandas
  # - seaborn
  # - compilers
  # - openmpi
  # - cmake
  # - scipy

  # MACE needs to be installed using pip.
  - pip:  
    - mace-torch
